@font-face {
    font-family: '印品芷兰体';
    src: url('../../asset/font/印品芷兰体.ttf') format('truetype'), url('../../asset/font/596-CAI978.ttf') format('truetype');
}

@font-face {
    font-family: '古刻宋';
    src: url('../../asset/font/古刻宋.ttf') format('truetype'), url('../../asset/font/596-CAI978.ttf') format('truetype');
}

@font-face {
    font-family: '百转千回-方正喵鸣体';
    src: url('../../asset/font/百转千回-方正喵鸣体.ttf') format('truetype'), url('../../asset/font/596-CAI978.ttf') format('truetype');
}

@font-face {
    font-family: '方正经黑手写简体';
    src: url('../../asset/font/方正经黑手写简体.ttf') format('truetype'), url('../../asset/font/596-CAI978.ttf') format('truetype');
}

@font-face {
    font-family: '方正瘦金书简体';
    src: url('../../asset/font/方正瘦金书简体.ttf') format('truetype'), url('../../asset/font/596-CAI978.ttf') format('truetype');
}

@font-face {
    font-family: '方正字迹-吕建德行楷简体';
    src: url('../../asset/font/方正字迹-吕建德行楷简体.ttf') format('truetype'), url('../../asset/font/596-CAI978.ttf') format('truetype');
}

@font-face {
    font-family: '华康少女体';
    src: url('../../asset/font/华康少女体.ttf') format('truetype'), url('../../asset/font/596-CAI978.ttf') format('truetype');
}

@font-face {
    font-family: '神雕侠侣-乾坤手书';
    src: url('../../asset/font/神雕侠侣-乾坤手书.ttf') format('truetype'), url('../../asset/font/596-CAI978.ttf') format('truetype');
}

@font-face {
    font-family: '时光手札体';
    src: url('../../asset/font/时光手札体.ttf') format('truetype'), url('../../asset/font/596-CAI978.ttf') format('truetype');
}

@font-face {
    font-family: '手写字-毓秀小楷体';
    src: url('../../asset/font/手写字-毓秀小楷体.ttf') format('truetype'), url('../../asset/font/596-CAI978.ttf') format('truetype');
}

@font-face {
    font-family: '水木清华-上首追光手写体';
    src: url('../../asset/font/水木清华-上首追光手写体.ttf') format('truetype'), url('../../asset/font/596-CAI978.ttf') format('truetype');
}

.iconfont {
    color: #fff;
    margin: 0 10px;
    cursor: pointer;
}

html,
body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: '水木清华-上首追光手写体', sans-serif;
    background-image: url('../../asset/img/texture.png');
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
}
#bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    filter: blur(15px);
}
#canvas {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 100px;
    margin-top: -300px;
    width: 600px;
    height: 600px;
    z-index: 1;
}
#canvas2 {
    position: absolute;
    top: 48%;
    left: 5%;
    width: 90%;
    height: 600px;
    z-index: 1;
}
#audioFile {
    position: absolute;
    width: 100%;
    height: 88px;
    opacity: 0;
}
.label {
    position: absolute;
    text-align: center;
    height: 85px;
    width: 100%;
    color: #eee;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    opacity: 0.3;
    border-radius: 8px;
    border: 1px dashed #ccc;
}
.controller {
    position: absolute;
    z-index: 5;
    bottom: 40px;
    left: 0;
    width: 100%;
    height: 40px;
    text-align: center;
}
.controller div {
    display: inline-block;
    height: 40px;
    margin: 0 10px;
}
.controller button {
    display: block;
    float: left;
    height: 40px;
    margin: 0 1px;
    padding: 0 20px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
}
.controller button:hover {
    opacity: 0.6;
}
/* 气泡动画 */
.bubbles {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.bubble {
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    bottom: -10%;
    animation: up 8s ease-in-out;
}
.bubble2 {
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    bottom: -10%;
    animation: up 8s ease-in-out;
}
@keyframes up {
    from {
        bottom: -10%;
        opacity: 0.8;
    }
    to {
        bottom: 110%;
        opacity: 0.3;
    }
}
